# Understanding Rent in NYC

## Project Setup

In [1]:
# all import statements needed for the project, for example:
import math
import os

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import geopandas as gpd

In [2]:
#Historical monthly average rents by zip code from Zillow from

#create data directory
os.makedirs('data', exist_ok=True)
def download_file(url, directory, filename):
    # Create the directory if it doesn't exist
    os.makedirs(directory, exist_ok=True)

    # Download the file
    response = requests.get(url)
    with open(os.path.join(directory, filename), "wb") as file:
        file.write(response.content)

# Example usage
url = "https://drive.google.com/uc?id=1LdJkhLKTbSfVLSbiZA-S4CF6tLIWKkPj&export=download"
directory = "data"
filename = "zillow_rent_data.csv"

download_file(url, directory, filename)

In [3]:

#Historical data from NYC Open Data-trees
TREE_URL = "https://data.cityofnewyork.us/resource/nwxe-4ae8.geojson?$$app_token=bGN5ZHzRAwz2VxsMyRVEiycko"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Save the content of the response to a file
    with open("tree_census_2015.geojson", "wb") as f:
        f.write(response.content)
    print("Data downloaded successfully.")
else:
    print("Failed to download data. Status code:", response.status_code)

Data downloaded successfully.

In [4]:
## Historical data from NYC Open Data-311complaints
# Define the URL of the dataset
url = "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson?$$app_token=bGN5ZHzRAwz2VxsMyRVEiycko"

# Send a GET request to the URL
params = {
    "$where": "Latitude IS NOT NULL AND created_date >= '2023-02-28T00:00:00.000'",
    "$limit": 500000  # Set a limit to ensure all data within the date range is fetched
}

response = requests.get(url, params=params)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Save the content of the response to a file
    with open("311_complaints.geojson", "wb") as f:
        f.write(response.content)
    print("Data downloaded successfully.")
else:
    print("Failed to download data. Status code:", response.status_code)

Data downloaded successfully.

## Don't know how to download the Shapefiles of NYC’s zip codes

In [5]:
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"
# Make sure the QUERY_DIRECTORY exists
try:
    os.makedirs(QUERY_DIRECTORY, exist_ok=True)
    print(f"Directory '{QUERY_DIRECTORY}' created successfully or already exists.")
except Exception as e:
    print("Error creating directory:", e)

Directory 'queries' created successfully or already exists.

## Part 1: Data Preprocessing

### Load NYC Open Data on 311 complaints

In [11]:
def load_311data(geojson_file):
    try:
        # Load the GeoJSON file into a GeoDataFrame
        gdf = gpd.read_file(geojson_file)
        print("311 complaints data loaded successfully.")
        return gdf
    except Exception as e:
        print("Error loading 311 complaints data:", str(e))
        return None

# Example usage:
geojson_file = "311_complaints.geojson"
complaints_data = load_311data(geojson_file)

# Step 2: Data Inspection
print(complaints_data.head())

311 complaints data loaded successfully.
  location_state facility_type intersection_street_2      city location_zip  \
0                         None         WAVERLY PLACE  NEW YORK
1                         None           BAY PARKWAY  BROOKLYN
2                         None      WEST  193 STREET  NEW YORK
3                         None              BROADWAY  NEW YORK
4                         None             93 STREET  ELMHURST

  park_borough            latitude road_ramp        created_date agency  ...  \
0    MANHATTAN   40.73357025455224      None 2024-04-08 01:51:31    DPR  ...
1     BROOKLYN  40.609319269148564      None 2024-04-08 01:51:08   NYPD  ...
2    MANHATTAN   40.85721354383298      None 2024-04-08 01:50:57   NYPD  ...
3    MANHATTAN  40.813099639705094      None 2024-04-08 01:50:06   NYPD  ...
4       QUEENS  40.742439043264866      None 2024-04-08 01:49:50   NYPD  ...

  resolution_description community_board resolution_action_updated_date  \
0                   None    02 MANHATTAN                            NaT
1                   None     11 BROOKLYN                            NaT
2                   None    12 MANHATTAN            2024-04-08 02:43:44
3                   None    09 MANHATTAN                            NaT
4                   None       04 QUEENS            2024-04-08 01:54:33

  intersection_street_1 closed_date vehicle_type    cross_street_1    borough  \
0      WASHINGTON PLACE         NaT         None  WASHINGTON PLACE  MANHATTAN
1             21 AVENUE         NaT         None         21 AVENUE   BROOKLYN
2       FAIRVIEW AVENUE         NaT         None   FAIRVIEW AVENUE  MANHATTAN
3      AMSTERDAM AVENUE         NaT          Car  AMSTERDAM AVENUE  MANHATTAN
4             92 STREET         NaT         None         92 STREET     QUEENS

            landmark                    geometry
0       GROVE STREET  POINT (-74.00200 40.73357)
1  BAY RIDGE PARKWAY  POINT (-73.98922 40.60932)
2   BROADWAY TERRACE  POINT (-73.93128 40.85721)
3    LA SALLE STREET  POINT (-73.95800 40.81310)
4      CORONA AVENUE  POINT (-73.87222 40.74244)

[5 rows x 45 columns]

In [ ]:
### Process NYC Open Data on 311 complaints

In [12]:
def keep_columns(df, columns_to_keep):
    # Select only the specified columns
    df = df[columns_to_keep]
    return df

complaints_data_cleaned = keep_columns(complaints_data, ['unique_key','incident_zip','created_date','complaint_type'])
print(complaints_data_cleaned.head())

  unique_key incident_zip        created_date       complaint_type
0   60799240        10014 2024-04-08 01:51:31     New Tree Request
1   60804005        11204 2024-04-08 01:51:08  Noise - Residential
2   60797413        10040 2024-04-08 01:50:57      Illegal Parking
3   60799308        10027 2024-04-08 01:50:06      Noise - Vehicle
4   60803041        11373 2024-04-08 01:49:50   Noise - Commercial

In [13]:
def lookup_coords_for_taxi_zone_id(zone_loc_id, loaded_taxi_zones):
    raise NotImplementedError()

### Calculate distance

In [ ]:
def calculate_distance_with_coords(from_coord, to_coord):
    raise NotImplementedError()

In [ ]:
def calculate_distance_with_zones(from_zone, to_zone):
    raise NotImplementedError()

In [ ]:
def add_distance_column(dataframe):
    raise NotImplementedError()

### Process Zipcode Data

In [28]:
def load_Zipcode_data(shapefile_dir):
    # Path to the directory containing the shapefile
# Load the shapefile into a GeoDataFrame
    gdf = gpd.read_file(shapefile_dir)
    return gdf
zipcodes=load_Zipcode_data("data/nyc_zipcodes.shp")
print(zipcodes.info())

def keep_Zipcode_columns(df,columns_to_keep):
    df=df[columns_to_keep]
    
    return df

zipcodes_data_cleaned=keep_Zipcode_columns(zipcodes,["ZIPCODE","geometry"])
print(zipcodes_data_cleaned.head())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   BLDGZIP     263 non-null    object
 2   PO_NAME     263 non-null    object
 3   POPULATION  263 non-null    float64
 4   AREA        263 non-null    float64
 5   STATE       263 non-null    object
 6   COUNTY      263 non-null    object
 7   ST_FIPS     263 non-null    object
 8   CTY_FIPS    263 non-null    object
 9   URL         263 non-null    object
 10  SHAPE_AREA  263 non-null    float64
 11  SHAPE_LEN   263 non-null    float64
 12  geometry    263 non-null    geometry
dtypes: float64(4), geometry(1), object(8)
memory usage: 26.8+ KB
None
  ZIPCODE                                           geometry
0   11436  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1   11213  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2   11212  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3   11225  POLYGON ((995908.365 183617.613, 996522.848 18...
4   11218  POLYGON ((991997.113 176307.496, 992042.798 17...

### Processing Zillow Rent Data

In [10]:
def load_Zillow_Rent_data(csv_file):
    df = pd.read_csv(csv_file)
    df=df.dropna()
    return df
rent_data=load_Zillow_Rent_data("zillow_rent_data.csv")
print(rent_data.describe())
print(rent_data.head())
print(rent_data.info())

def keep_Zillow_Rent_columns(df,columns_to_keep):
    df=df[columns_to_keep]
    
    return df

rent_data_cleaned=keep_Zillow_Rent_columns(rent_data,["RegionID","2024-01-31","RegionName"])

            RegionID      SizeRank    RegionName   2015-01-31   2015-02-28  \
count     575.000000    575.000000    575.000000   575.000000   575.000000
mean    87999.222609   1965.786087  52016.845217  1403.794237  1412.462501
std     51370.757623   1901.496671  30635.660443   628.477602   635.431388
min     58627.000000      1.000000   2113.000000   551.829341   549.959262
25%     70823.500000    530.000000  30033.000000  1000.788457  1003.254599
50%     73201.000000   1339.000000  34698.000000  1229.841194  1231.005300
75%     94842.500000   2794.500000  85208.500000  1608.809833  1610.500914
max    417444.000000  12215.000000  98503.000000  5342.134698  5545.637773

        2015-03-31   2015-04-30   2015-05-31   2015-06-30   2015-07-31  ...  \
count   575.000000   575.000000   575.000000   575.000000   575.000000  ...
mean   1422.872980  1434.340943  1444.530315  1454.691224  1463.191322  ...
std     643.096303   650.660652   655.669486   662.678389   666.387341  ...
min     552.157170   554.960823   565.465233   573.144449   575.277202  ...
25%    1013.631471  1024.589052  1030.597286  1041.304242  1047.494024  ...
50%    1235.278096  1251.205800  1259.265848  1264.197386  1267.072253  ...
75%    1629.219264  1650.999553  1666.087466  1677.305015  1681.806377  ...
max    5805.423194  5762.407855  5712.534426  5813.091613  5950.307548  ...

         2023-04-30    2023-05-31    2023-06-30    2023-07-31    2023-08-31  \
count    575.000000    575.000000    575.000000    575.000000    575.000000
mean    2268.139866   2285.594990   2299.685555   2310.370988   2314.175098
std      845.241467    854.772948    869.328044    879.925943    882.142603
min     1007.059458   1005.203783   1010.989462   1021.010933   1041.710607
25%     1789.566788   1802.366592   1803.724157   1808.583044   1797.148632
50%     2042.707683   2066.446052   2068.816703   2083.580958   2080.453529
75%     2513.409775   2531.752232   2551.614729   2571.064774   2576.011762
max    10165.891400  10345.602611  10667.830567  10870.010082  10798.831214

         2023-09-30   2023-10-31   2023-11-30   2023-12-31   2024-01-31
count    575.000000   575.000000   575.000000   575.000000   575.000000
mean    2310.688197  2303.956414  2293.827998  2288.872267  2290.400188
std      873.620427   865.216095   853.430650   848.431534   846.930950
min     1035.785753  1019.024743  1021.478817  1027.969355  1054.737374
25%     1793.349818  1790.476551  1798.480919  1801.923912  1795.178097
50%     2073.744781  2066.049490  2056.236119  2052.843051  2056.546699
75%     2582.737288  2579.546200  2571.329558  2560.133286  2562.828567
max    10098.264573  9677.053659  9499.390217  9655.948887  9657.500000

[8 rows x 112 columns]
    RegionID  SizeRank  RegionName RegionType StateName State           City  \
0      91982         1       77494        zip        TX    TX           Katy
2      91940         3       77449        zip        TX    TX           Katy
8      91926        11       77433        zip        TX    TX        Cypress
16     62037        19       11226        zip        NY    NY       New York
18     70829        21       30044        zip        GA    GA  Lawrenceville

                                    Metro        CountyName   2015-01-31  ...  \
0    Houston-The Woodlands-Sugar Land, TX  Fort Bend County  1471.214336  ...
2    Houston-The Woodlands-Sugar Land, TX     Harris County  1285.448996  ...
8    Houston-The Woodlands-Sugar Land, TX     Harris County  1350.951013  ...
16  New York-Newark-Jersey City, NY-NJ-PA      Kings County  1868.105728  ...
18   Atlanta-Sandy Springs-Alpharetta, GA   Gwinnett County  1102.686034  ...

     2023-04-30   2023-05-31   2023-06-30   2023-07-31   2023-08-31  \
0   1843.953065  1853.546220  1860.805060  1873.335787  1879.080480
2   1799.232097  1803.978538  1815.603187  1824.661645  1837.338997
8   1882.654529  1881.873450  1908.720996  1941.138293  1965.196968
16  2613.659650  2633.525698  2662.290709  2679.586231  2693.602946
18  2058.256657  2050.162966  2032.137633  1993.185884  1991.503042

     2023-09-30   2023-10-31   2023-11-30   2023-12-31   2024-01-31
0   1882.092604  1877.636803  1857.636589  1846.701735  1839.654960
2   1837.127291  1822.343233  1809.231267  1813.118556  1830.410884
8   1997.556435  1984.275828  1962.842219  1886.411739  1867.679966
16  2672.819878  2644.929685  2644.410748  2652.155298  2680.780024
18  1935.298976  1946.574119  1920.301442  1987.412100  1995.192319

[5 rows x 118 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 575 entries, 0 to 6479
Columns: 118 entries, RegionID to 2024-01-31
dtypes: float64(109), int64(3), object(6)
memory usage: 534.6+ KB
None

In [29]:
print(rent_data_cleaned.head())

    RegionID   2024-01-31  RegionName
0      91982  1839.654960       77494
2      91940  1830.410884       77449
8      91926  1867.679966       77433
16     62037  2680.780024       11226
18     70829  1995.192319       30044

### Processing NYC Open Data on Trees

In [14]:
def load_trees_data(geojson_file):
    try:
        trees_data = gpd.read_file(geojson_file)
        return trees_data
    except Exception as e:
        print(f"Error loading Trees data: {e}")
        return None

# Example usage:
geojson_file = "tree_census_2015.geojson"
trees_data = load_trees_data(geojson_file)

# Step 2: Data Inspection
if trees_data is not None:
    print(trees_data.head())
    print(trees_data.info())
else:
    print("Tree data not loaded successfully.")

Error loading Trees data: 'tree_census_2015.geojson' not recognized as a supported file format.
Tree data not loaded successfully.

In [ ]:
complaints_data_cleaned = keep_columns(complaints_data, ['unique_key', ''])

## Storing Data

In [44]:
!createdb Project_Database
!psql --dbname Project_Database -c 'CREATE EXTENSION postgis;'

createdb: error: database creation failed: ERROR:  database "Project_Database" already exists
ERROR:  extension "postgis" already exists

In [50]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/a5/ac/702d300f3df169b9d0cbef0340d9f34a78bc18dc2dbafbcb39ff0f165cf8/psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 7.2 MB/s eta 0:00:00:00:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [54]:
import psycopg2

dbname = "Project_Database"
user = "sfm"
host = "localhost"
port = "5432"

try:
    conn = psycopg2.connect(
        dbname=dbname,
        user=user,
        host=host,
        port=port
    )
    print("Connection successful")

    # Do some operations with the database here

    # Close the connection
    conn.close()
    print("Connection closed")
except psycopg2.Error as e:
    print("Unable to connect to the database:", e)

Connection successful
Connection closed

In [59]:

engine = db.create_engine(DATABASE_URL)

In [68]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
NYC_zip_codes_SCHEMA = """
CREATE TABLE IF NOT EXISTS Zip_Code
(
    id SERIAL PRIMARY KEY,
    zipcode INTEGER,
    geometry GEOGRAPHY(POINT, 4326)
)
"""

ThreeOneOne_complaints_SCHEMA = """
CREATE TABLE IF NOT EXISTS Complaint
(
    unique_key SERIAL PRIMARY KEY,
    incident_zip INTEGER,
    created_date TIMESTAMP,
    complaint_type TEXT
)
"""

Historical_Average_Rents_SCHEMA = """
CREATE TABLE IF NOT EXISTS Rent
(
    id SERIAL PRIMARY KEY,
    RegionID INTEGER,
    "2024-01-31" FLOAT,
    RegionName INTEGER
)
"""

In [22]:
Trees_SCHEMA = """
CREATE TABLE IF NOT EXISTS Tree
(
    id INTEGER PRIMARY KEY,
    spc_latin TEXT,
    health TEXT
    status TEXT
    the_geom GEOMETRY(Point, 4326)
)
"""

In [69]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(NYC_zip_codes_SCHEMA)
    f.write(ThreeOneOne_complaints_SCHEMA)
    f.write(Historical_Average_Rents_SCHEMA)

In [ ]:
    f.write(Trees_SCHEMA)

In [70]:
# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname="Project_Database",
    user="sfm",
    host="localhost",
    port="5432"
)

# Open a cursor to perform database operations
with conn.cursor() as cur:
    # Read and execute the schema files
    with open(DATABASE_SCHEMA_FILE, 'r') as f:
        cur.execute(f.read())

# Commit the changes
conn.commit()

# Close the connection
conn.close()

SyntaxError: syntax error at or near "CREATE"
LINE 9: CREATE TABLE IF NOT EXISTS Complaint
        ^

### Add Data to Database

In [ ]:
def write_dataframes_to_table(table_to_df_dict):
    raise NotImplemented()

In [ ]:
map_table_name_to_dataframe = {
    "Zip_Code": taxi_data,
    "Complaint": complaints_data_cleaned,
    "Rent": rent_data_cleaned,
    "Tree": daily_data,
}

In [ ]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

In [ ]:
# Helper function to write the queries to file
QUERY_DIRECTORY = "queries"

def write_query_to_file(query, filename):
    filepath = os.path.join(QUERY_DIRECTORY, filename)
    with open(filepath, 'w') as file:
        file.write(query)

### Query 1

In [ ]:
QUERY_1_FILENAME = "complaints_by_zipcode.sql"

QUERY_1 = """
SELECT count(id) As "Total Number of Complaints", IncidentZip AS "ZipCode" FROM complaints
Where CAST(CreatedDate AS DATE)>="2023-03-01" and CAST(CreatedDate AS DATE)<='2024-02-29'
GROUP BY IncidentZip
ORDER BY count(id) desc
"""

In [ ]:
engine.execute(QUERY_1).fetchall()

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [ ]:
QUERY_2_FILENAME = "top_10_zipcodes_by_trees.sql"

QUERY_2 = """
SELECT count(tree_id) As "Total Number of Trees", zipcode AS "ZipCode" FROM trees GROUP BY zipcode
ORDER BY count(tree_id) desc LIMIT 10
"""

In [ ]:
engine.execute(QUERY_2).fetchall()

In [ ]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [ ]:
QUERY_3_FILENAME = "average_rent_in_top_tree_zipcodes.sql"

QUERY_3 = """
SELECT count(t.tree_id) As "Total Number of Trees", round(AVG(r.2024-01-31),2) AS "Rent" FROM trees t JOIN
rent r on t.zipcode=r.RegionName
Where t.zipcode in (SELECT zipcode FROM trees GROUP BY zipcode
ORDER BY count(tree_id) desc LIMIT 10)
GROUP BY t.zipcode
ORDER BY count(t.tree_id)desc
"""

In [ ]:
engine.execute(QUERY_3).fetchall()

In [ ]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [ ]:
QUERY_4_FILENAME = "rent_tree_complaint_correlation.sql"

QUERY_4 = """
(SELECT c.IncidentZip AS "ZipCode", round(AVG(r.2024-01-31),2) AS "Average Rent",count(t.tree_id) AS "Total Number of Trees", count(c.id) As "Total Number of Complaints" FROM complaints c
RIGHTJOIN rent r on c.IncidentZip=r.RegionName LEFT JOIN trees t on t.zipcode=r.RegionName
GROUP BY c.IncidentZip
ORDER BY round(AVG(r.2024-01-31),2) desc LIMIT 5)
UNION
(SELECT c.IncidentZip AS "ZipCode", round(AVG(r.2024-01-31),2) AS "Average Rent",COUNT(COALESCE(t.tree_id, 0)) AS "Total Number of Trees", COUNT(COALESCE(c.id, 0)) As "Total Number of Complaints" FROM complaints c
RIGHT JOIN rent r on c.IncidentZip=r.RegionName LEFT JOIN trees t on t.zipcode=r.RegionName
GROUP BY c.IncidentZip
ORDER BY round(AVG(r.2024-01-31),2) asc LIMIT 5)
"""

In [ ]:
engine.execute(QUERY_4).fetchall()

In [ ]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [ ]:
QUERY_5_FILENAME = "most_greenery_join.sql"

QUERY_5 = """
SELECT z.zipcode, COUNT(t.tree_id) AS total_trees
FROM trees t
JOIN zipcodes z ON ST_Contains(z.geom, ST_SetSRID(ST_MakePoint(t.longitude, t.Latitude), 4326))
GROUP BY z.zipcode
ORDER BY total_trees DESC
LIMIT 10;
"""

In [ ]:
engine.execute(QUERY_5).fetchall()

In [ ]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6

In [ ]:
pip install shapely
from shapely.geometry import Point
import pyproj

# Define the point and buffer radius in meters
latitude, longitude = 40.80737875669467, -73.96253174434912
buffer_radius_miles = 0.5

# Convert buffer radius from miles to meters
buffer_radius_meters = buffer_radius_miles * 1609.34

# Define the coordinate reference system (CRS) for WGS 84 (EPSG:4326)
crs_wgs84 = pyproj.CRS("EPSG:4326")

# Create a point geometry
point = Point(longitude, latitude)

# Project the point to a local CRS in meters (e.g., EPSG:3857)
crs_local = pyproj.CRS("EPSG:3857")
projected_point = pyproj.Transformer.from_crs(crs_wgs84, crs_local, always_xy=True).transform(point.x, point.y)

# Create a buffer around the point
buffered_point = Point(projected_point).buffer(buffer_radius_meters)

# Convert the buffer to WKT format
buffer_wkt = buffered_point.wkt

QUERY_6_FILENAME = "trees_within_half_mile_radius.sql"

QUERY_6 = """
SELECT
    tree_id, spc_latin, health, status, ST_AsText(the_geom) AS location
FROM
    trees
WHERE
    ST_DWithin(the_geom::geography, ST_SetSRID(ST_GeomFromText('POINT(-73.96253174434912 40.80737875669467)'), 4326)::geography, 804.67) = TRUE
    """

In [ ]:
engine.execute(QUERY_6).fetchall()

In [ ]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

In [ ]:
psql --dbname groupNproject -f query.sql

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
def get_data_for_visual_1():
    conn = sqlite3.connect('Project_Database.db')
    
    # Define your SQL query
    sql_query = """
    SELECT count(id) As "Total Number of Complaints", complaint_type"Type" FROM complaints
    Where CAST(created_date AS DATE)>="2023-03-01" and CAST(created_date AS DATE)<='2024-02-29'
    GROUP BY complaint_type
    ORDER BY count(id) desc
    LIMIT 3
    """
    
    # Execute the query and fetch the results into a DataFrame
    data = pd.read_sql_query(sql_query, conn)
    
    # Close the database connection
    conn.close()
    
    return data

In [ ]:
def plot_visual_1(dataframe):
    conn = sqlite3.connect('Project_Database.db')
    dates = pd.date_range(start='2023-03-01', end='2024-02-29')
    data = []
    for complaint_type in dataframe['complaint_type']:
        sql_query = f"""
        SELECT created_date, COUNT(id) AS daily_complaints
        FROM complaints
        WHERE created_date BETWEEN '2023-03-01' AND '2024-02-29'
        AND complaint_type = '{complaint_type}'
        GROUP BY created_date
        """
        df = pd.read_sql_query(sql_query, conn)
        df.set_index('created_date', inplace=True)
        data.append(df.reindex(dates).fillna(0)['daily_complaints'])
    
    # Calculate the total number of complaints for the top 3 complaint types for each day
    total_complaints = sum(data)
    
    conn.close()
    
    plt.figure(figsize=(15, 8))
    plt.plot(dates, total_complaints, label='Total Complaints', color='black', linewidth=2, linestyle='--')
    plt.title('Number of Complaints per Day for Top 3 Complaint Types')
    plt.xlabel('Date')
    plt.ylabel('Number of Complaints')
    plt.grid(True)
    plt.legend(title='Complaint Type', loc='upper right')
    plt.show()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)

### Visualization 2

### Visualization 3

### Visualization 4

### Visualization 5

### Visualization 6